<h1>Student List</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Class</th>
        <th>Email</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.roll_no }}</td>
        <td>{{ student.student_class }}</td>
        <td>{{ student.email }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Add New Student</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Student</button>
</form>
